/** @format */

@import "../../variables.scss";

.user {
  flex: 4;
  padding: 20px;

  &__container__title {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    border: none;
    align-items: center;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #504f4f;
    cursor: pointer;
    font-size: 16px;
    color: white;
  }


  &__container {
    display: flex;
    margin-top: 20px;

    &__userShow {
      flex: 1;
      padding: 20px;
      -webkit-box-shadow: 7px -2px 15px 1px rgba(0, 0, 0, 0.31);
      box-shadow: 7px -2px 15px 1px rgba(0, 0, 0, 0.31);

      &__top {
        display: flex;
        align-items: center;

        &__img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        &__title {
          display: flex;
          flex-direction: column;
          margin-left: 20px;

          &__username {
            font-weight: 600;
          }

          &__job {
            font-weight: 300;
          }
        }
      }

      &__bottom {
        margin-top: 20px;

        &__description {
          color: $grey-color;
        }

        &__info {
          display: flex;
          align-items: center;
          margin: 20px 0;

          &__icon {
            font-size: 16px !important;
          }

          &__title,
          &__date,
          &__email,
          &__number,
          &__adress {
            margin-left: 10px;
          }
        }
      }
    }

    &__userUpdate {
      flex: 2;
      padding: 20px;
      -webkit-box-shadow: 7px -2px 15px 1px rgba(0, 0, 0, 0.31);
      box-shadow: 7px -2px 15px 1px rgba(0, 0, 0, 0.31);
      margin-left: 20px;

      &__title {
        margin-left: 10px;
        font-weight: 600;
      }

      &__form {
        display: flex;
        justify-content: space-between;

        &__right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &__btn {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border-radius: 10px;
            border: none;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 7px 10px;
            background-color: #504f4f;
            color: white;
            cursor: pointer;
            font-size: 16px;

          }

          &__upload {
            display: flex;
            align-items: center;

            &__img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 20px;
            }

            &__icon {
              cursor: pointer;
            }
          }
        }

        &__left {
          &__item {
            display: flex;
            flex-direction: column;
            margin: 18px 10px;

            label {
              font-size: 14px;
            }

            &__input {
              border: none;
              width: 250px;
              border-bottom: 1px solid lightgray;
              height: 35px;

              &:focus,
              textarea:focus,
              select:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
